.event-details-container__section {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


    .img-container {
        .event-image {
            // align-self: stretch;
            object-fit: cover;
            width: 100%;
            height: 500px;
            background: linear-gradient(0deg, #DDE1E6 0%, #DDE1E6 100%)
        }
    }


    .event-details__article {
        width: 60%;
        min-height: fit-content;
        border: 1px #DDE1E6 solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: inline-flex;
        margin: 15px;

        .event-details-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            align-self: stretch;
            padding-top: 24px;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
            gap: 16px;

            .font-weight-bold {
                font-weight: bold;
            }

            .font-size-big {
                font-size: 2em;
            }

            // TODO: Falls spezielle Styles definiert werden sollen, die nur für das eine Text Feld gelten, dann über ID (#) stylen,
            // ansonsten Klassen (.) verwenden für alles, was allgemein ist und mehrmals verwendet werden kann.


            div p#venue {
                font-weight: bold;
            }

            #date-start {}

            #date-end {}

            #artist-info-container {

                #artist-name {}

                #artist-type {}

                #artist-description {}

                #artist-img {}
            }

            #event-title {}

            #event-description {}

            #event-type {}

            #event-category {}

            #event-details-content-footer {
                display: flex;
                align-items: end;
                width: 100%;
                justify-content: space-between;

                #venue-info {
                    #venue-name {}

                    #venue-type {}

                    #venue-address-container {

                        #additional-address-info {}
                    }
                }

                #event-homepage a {
                    display: inline-block;
                    padding: 10px 20px;
                    border: none;
                    background-color: #4d4d4d;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    /* Smooth transition for hover effect */
                    transition: background-color 0.3s;
                    /* Change mouse pointer to indicate it's clickable */
                    cursor: pointer;

                    &:hover {
                        /* Change shade when hovered */
                        background-color: #888d89;
                    }
                }
            }


        }
    }

}