@import '../../../styles/variables.scss';

#artist-inputs {
    display: flex;
    flex-direction: column;
    background-color: $bg_color;

    textarea {
        height: 200px;
        width: 80%;
    }
}