
   // VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: #9E9E9E;
$trans-time: 300ms;
$width: 100%;

.login-form{
    max-width: 400px;
    
         label{

         }
         input{
            
         }
    }