$font-size: 3.2em;
@import './variables';

.app {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: $bg_color;

  h1 {
    
    line-height: 1.1;
    text-align: center;
  }

  button {
    width: fit-content;
    padding: 0.5em;
  }

  .register-form {
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    label {
      display: flex;
      gap: 0.2em;
    }
  }

  .login-form {
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    label {
      display: flex;
      gap: 0.2em;
    }
  }

  table {
    orientation: portrait;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    th {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
    }
  }
  
  

}  






