$font-size: 3.2em;
@import './variables';

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $main_font;
 

  h1 {
    
    line-height: 1.1;
    text-align: center;
  }


  button {
    width: fit-content;
    padding: 0.5em;
  }

  .nav-container {
    display: flex;
    gap: 1em;
  }

  .register-form {
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    label {
      display: flex;
      gap: 0.2em;
    }
  }

  .login-form {
    display: flex;
    gap: 0.5em;
    flex-direction: column;

    label {
      display: flex;
      gap: 0.2em;
    }
  }
  table {
    orientation: portrait;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    th {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
    }
    .nav-container {
      display: flex;
      gap: 1em;
      a {
        text-decoration: none;
        color: black;
      }
      
    }

  }
  



}  






