@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;
}
a {
  text-decoration: none;
  color: black;
}
body {
  background-color: $bg_color;
  color: black;
  margin: 0;
  // min-width: 100vw;
  min-height: 100vh;
}


@media (prefers-color-scheme: dark){
  a {
    color: $bg_color;
  }
  main {
    background-color: $bg_color;
    // color: $dark_text_color;
  }
  body {
    background-color: $bg_color;
    // color: $dark_text_color;
    .gallery-card{
      background-color: $bg_color;
      color: black;
       box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
      .card-content{
       
        .eventTitle{
          color: black;
        }
        .dateStart{
          color: black;
        }
        .artists{
          color: black;
        }
        .organizer{
          color: black;
        }
      }
      .gallery-card-image-container{
        .eventType{
          color: black;
        }
      }
    }
    .gallery-card:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
      box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }
  }
  header{
    background-color: $bg_color;
    color: black;
  }
}

@media screen and (max-width: 767px) {
  .gallery-card {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  main {
    div {
      .gallery-card {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  main {
    div {
      .gallery-card {
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  main {
    div {
      .gallery-card {
        width: 30%;
      }
    }
  }
}