


.gallery-card {
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.3333% - 20px);
}

.gallery-card-image-container {
    position: relative;
    .eventType {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    // color: black;
    font-size: 18pt;
    font-weight: bold;
    background-color: #98ff1a;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: lighter;
    }


.gallery-card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

}


.gallery-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    margin-top: 10px;
    .dateStart {
         font-size: 12pt;
         font-weight: normal;
        }
    .artists {
            font-size: 23pt;
            font-weight: normal;
        }
    .eventTitle { 
        // color: black;
        font-size: 23pt; 
    }
    .organizer{ 
        // color: black;
        font-size: 17pt; 
    }   
         
}


